body {
  background-image: url(../images/body-background.png);
  background-repeat: repeat-x;
  background-color: #5c8098;
}
html, body, h1, h2 {
  margin: 0px;
  padding: 0px;
}
body, textarea, input {
  font-size: 12px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  color: #2d2b3d;
}
#container {
}
#container-inner {
  text-align: justify;
}
#header {
  height: 100px;
  background-repeat: no-repeat;
}
#header h1 {
  display: none;
}
#main {
  height: 610px;
  background-image: url(../images/main-background.png);
  background-repeat: no-repeat;
  text-align: left;
  padding: 30px 40px 20px 40px;
}
#display {
  border: 1px solid #5c8098;
  height: 400px;
  margin-bottom: 10px;
  overflow-y: scroll;
}
#login-name {
  width: 200px;
}
#message {
  height: 50px;
}
